*{
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #EEEEEE;
    color: white;
}
svg {
    filter: brightness(0) saturate(100%) invert(98%) sepia(20%) saturate(293%) hue-rotate(172deg) brightness(120%) contrast(100%);
}
h1 {
    color: white;
}
.wrap {
    flex-direction: column;
    gap: 1rem;
}

.space-evenly {
    justify-content: space-between;
    align-content: space-between;
    gap: 1.5rem;
    padding-bottom: 0.5rem;

}
.hidden {
    display: none !important;
}
.flex {
    display: flex;
}
.modal {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #14F;
    padding: 5rem 6rem;
    border-radius: 4px;
    z-index: 2;
  }
.overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 30%;
    background-color: black;
    z-index: 1;
}

.header {
    display: flex;
    background-color: #14F;
    color: white;
    padding: 1rem 3rem;
    justify-content: flex-end;
    gap: 0.5rem;
}
.addANewBook {
    filter: brightness(0) saturate(100%) invert(17%) sepia(87%) saturate(4482%) hue-rotate(231deg) brightness(99%) contrast(105%);
}
.newBooks {
    position: fixed;
    bottom: 2%;
    right: 2%;
}
.newBooks:hover{
    background-color: #DCDCDC;
    border-radius: 4px;
    cursor: pointer;
}


.btn {
  background-color: #0092FA;
  border: 1px solid transparent;
  border-radius: 3px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  padding: 0.4rem 0.5rem;
  align-self: flex-end;
}

.btn:hover,
.btn:focus {
  background-color: #07c;
}

.btn:active {
  background-color: #0074C7;
  box-shadow: none;
}
main {
    display: grid;
    max-width: 1000px;
    grid-template-columns: repeat(3, 1fr);
    margin: 1rem auto;
    gap: 1rem;
}
.bookCard {
    background-color: #fff;
    padding: 2rem 1rem 6rem;
    color: black;
    position: relative;
}
input {
    outline: none;
    padding: 0.1rem 0.2rem;
    border: none;
    border: 2px solid hsl(0, 0%, 90%);
    background-color: hsl(0, 0%, 100%);
}
input[type="number"] {
    -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.bookCardsSvg {
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(299deg) brightness(99%) contrast(101%);
    border: 2px solid transparent;
    position: absolute;
    right: 4%;
    bottom: 4%;
}
.bookCardsSvg:hover {
    filter: invert(24%) sepia(86%) saturate(2039%) hue-rotate(347deg) brightness(87%) contrast(83%);
    cursor: pointer;
}